#modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0e0a14ef;
}

#modal.point{
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal .content.point{
    flex-direction: column;
}

#modal .content.point h1{
    color: white;
    margin-top: 24px;
}

#modal .content .header{
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
}

#modal .content .header h1{
    color: white;
}

#modal .content .header a{
    color: white;
    background-image: url('../Assets/x.svg');
    height: 24px;
    width: 24px;
    font-size: 0.01px;
}

#modal form label{
    color: white;
    display: block;
    margin: 32px 0 8px;
}

#modal form .search-field{
    display: flex;
    width: 420px;
}

#modal form .search-field input{
    flex:1;
    padding:  0 16px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
}

#modal form .search-field button{
    background-color: var(--primary-color);
    height: 72px;
    width: 72px;
    border: none;
    border-radius: 0 8px 8px 0;
}

#modal form .search-field button:hover{
    background: #2fb86e;
}

.hide{
    display: none;
}
