@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    .content{
        align-items: center;
        text-align: center;
    }

    header a{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    main{
        align-items: center;
    }

    main h1{
        font-size: 36px;
    }
}

@media (max-height: 750px){
    #page-home{
        background-position-y: 25vh;
    }
}

@media(min-width: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}